<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=install_email
     page_id="230214214064781"
     theme_color="#9EA4D3"
     logged_in_greeting="Hi! Welcome to UEQ. How can we help you?"
     logged_out_greeting="Hi! Welcome to UEQ. How can we help you?">
</div>
<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div class="preloader-dot-loading">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <!-- Header -->
    <header id="header" class="header modern-header modern-header-theme-colored">
        <div class="header-top bg-theme-colored sm-text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="widget text-white">
                            <i class="fa fa-clock-o text-theme-colored2"></i> {{hours}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle p-0 bg-light xs-text-center">
            <div class="container pt-30 pb-30">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="widget sm-text-center">
                            <i class="fa fa-envelope text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">{{email_label}}</a>
                            <h5 class="font-13 text-black m-0"> {{email_address}}</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="widget text-center">
                            <a class="" href="index-mp-layout1.html"><img src="/images/logo-wide.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="widget sm-text-center">
                            <i class="fa fa-building-o text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">{{location_label}}</a>
                            <h5 class="font-13 text-black m-0"> {{location_address}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed">
                <div class="container">
                    <nav id="menuzord" class="menuzord blue">
                        <ul class="menuzord-menu">
                            <li class="home"><a href="#"><i class="fa fa-home font-28"></i></a></li>
                            <li class="active"><a href="/">{{home}}</a></li>
                            <li class=""><a href="/blog">{{blog}}</a></li>
                            <li class=""><a href="/shop">{{shop}}</a></li>
                            <li><a href="#">Inquiries</a>
                                <ul class="dropdown">
                                    <li><a href="#mailing_form">General</a></li>
                                    <li><a href="/office365Inquiry">{{office_365}}</a></li>
                                    <li><a href="/govtInquiry">Government</a></li>
                                </ul>
                            </li>
                            <li class="active pull-right"><a href="{{phone_href}}" class="font-20 line-height-1"><i
                                    class="pe-7s-call mr-10 font-28"></i>{{phone_label}}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: home -->
        <section id="home" class="divider">
            <div class="container-fluid p-0">

                <!-- START REVOLUTION SLIDER 5.0.7 -->
                <div id="rev_slider_home_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                     data-alias="news-gallery34"
                     style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                    <div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;"
                         data-version="5.0.7">
                        <ul>
                            <!-- SLIDE 1 -->
                            <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                                data-easein="default" data-easeout="default" data-masterspeed="default"
                                data-thumb="https://res.cloudinary.com/hj51pum1g/image/upload/c_scale,w_1920/v1529181946/ueq-site/image_4_carousel_1.jpg"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Make an Impact">
                                <!-- MAIN IMAGE -->
                                <img src="https://res.cloudinary.com/hj51pum1g/image/upload/c_scale,w_1920/v1529181946/ueq-site/image_4_carousel_1.jpg"
                                     alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                     data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                     id="slide-1-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                     data-start="1000"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-1-layer-2"
                                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                     data-y="['top','top','top','top']" data-voffset="['120','100','70','90']"
                                     data-fontsize="['56','46','40','36']"
                                     data-lineheight="['70','60','50','45']"
                                     data-fontweight="['800','700','700','700']"
                                     data-width="['700','650','600','420']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; "><span
                                        style="color: #984C16;">Modernizing the </span><span
                                        class="text-theme-colored2">human</span><span style="color: #984C16;"> experience.</span>
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-1-layer-3"
                                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                     data-y="['top','top','top','top']" data-voffset="['280','220','180','180']"
                                     data-fontsize="['18','18','16','13']"
                                     data-lineheight="['30','30','28','25']"
                                     data-fontweight="['600','600','600','600']"
                                     data-width="['800','650','600','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-0"
                                     id="slide-1-layer-4"
                                     data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                                     data-y="['top','top','top','top']" data-voffset="['360','290','260','260']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;"
                                     data-mask_out="x:0;y:0;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                </div>
                            </li>

                            <!-- SLIDE 2 -->
                            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                                data-easein="default" data-easeout="default" data-masterspeed="default"
                                data-thumb="https://res.cloudinary.com/hj51pum1g/image/upload/c_scale,w_1920/v1529181975/ueq-site/image_4_carousel_2.jpg"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Make an Impact">
                                <!-- MAIN IMAGE -->
                                <img src="https://res.cloudinary.com/hj51pum1g/image/upload/c_scale,w_1920/v1529181975/ueq-site/image_4_carousel_2.jpg"
                                     alt="" data-bgposition="top 30%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                     data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                     id="slide-2-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                     data-start="1000"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-2-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['120','100','70','90']"
                                     data-fontsize="['28','24','24','24']"
                                     data-lineheight="['33','30','30','30']"
                                     data-fontweight="['600','600','600','600']"
                                     data-textalign="['center','center','center','center']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-2-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['165','135','105','130']"
                                     data-fontsize="['56','46','40','36']"
                                     data-lineheight="['70','60','50','45']"
                                     data-fontweight="['800','700','700','700']"
                                     data-textalign="['center','center','center','center']"
                                     data-width="['700','650','600','420']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;"><span
                                        style="color: #984C16;">Taking a </span><span class="text-theme-colored2">holistic view</span><span
                                        style="color: #984C16;"> of your business to accelerate performance.</span>
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-1-layer-4"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['320','260','220','220']"
                                     data-fontsize="['18','18','16','13']"
                                     data-lineheight="['30','30','28','25']"
                                     data-fontweight="['600','600','600','600']"
                                     data-textalign="['center','center','center','center']"
                                     data-width="['800','650','600','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption rs-parallaxlevel-0"
                                     id="slide-2-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['400','340','300','300']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;"
                                     data-mask_out="x:0;y:0;"
                                     data-start="1000"

                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                </div>
                            </li>

                            <!-- SLIDE 3 -->
                            <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                                data-easein="default" data-easeout="default" data-masterspeed="default"
                                data-thumb="https://res.cloudinary.com/hj51pum1g/image/upload/v1529182005/ueq-site/image_4_carousel_3.jpg"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Make an Impact">
                                <!-- MAIN IMAGE -->
                                <img src="https://res.cloudinary.com/hj51pum1g/image/upload/v1529182005/ueq-site/image_4_carousel_3.jpg"
                                     alt="" data-bgposition="top 30%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                     data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                     id="slide-3-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                     data-start="1000"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 1.00);">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-3-layer-2"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['310','200','100','0']"
                                     data-y="['top','top','top','top']" data-voffset="['120','100','70','90']"
                                     data-fontsize="['56','46','40','36']"
                                     data-lineheight="['70','60','50','45']"
                                     data-fontweight="['800','700','700','700']"
                                     data-width="['700','650','500','420']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;"><span
                                        style="color: #984C16;">Accelerate the growth of your </span><span
                                        class="text-theme-colored2">digital business</span><span
                                        style="color: #984C16;">.</span>
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-3-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['310','200','100','0']"
                                     data-y="['top','top','top','top']" data-voffset="['280','220','180','180']"
                                     data-fontsize="['18','18','16','13']"
                                     data-lineheight="['30','30','28','25']"
                                     data-fontweight="['600','600','600','600']"
                                     data-width="['700','650','500','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;"></div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-3-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['310','200','100','0']"
                                     data-y="['top','top','top','top']" data-voffset="['360','290','260','260']"
                                     data-fontsize="['18','18','16','16']"
                                     data-lineheight="['30','30','30','30']"
                                     data-fontweight="['600','600','600','600']"
                                     data-width="['700','650','500','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-0"
                                     id="slide-3-layer-4"
                                     data-x="['center','center','center','center']" data-hoffset="['310','33','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['360','290','260','260']"
                                     data-width="['700','650','600','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;"
                                     data-mask_out="x:0;y:0;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
                <script type="text/javascript">
                    var tpj = jQuery;
                    var revapi34;
                    tpj(document).ready(function () {
                        if (tpj("#rev_slider_home").revolution == undefined) {
                            revslider_showDoubleJqueryError("#rev_slider_home");
                        } else {
                            revapi34 = tpj("#rev_slider_home").show().revolution({
                                sliderType: "standard",
                                jsFileLocation: "javascripts/revolution-slider/js/",
                                sliderLayout: "fullscreen",
                                dottedOverlay: "none",
                                delay: 9000,
                                navigation: {
                                    keyboardNavigation: "on",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation: "off",
                                    onHoverStop: "on",
                                    touch: {
                                        touchenabled: "on",
                                        swipe_threshold: 75,
                                        swipe_min_touches: 1,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    }
                                    ,
                                    arrows: {
                                        style: "zeus",
                                        enable: true,
                                        hide_onmobile: true,
                                        hide_under: 600,
                                        hide_onleave: true,
                                        hide_delay: 200,
                                        hide_delay_mobile: 1200,
                                        tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                                        left: {
                                            h_align: "left",
                                            v_align: "center",
                                            h_offset: 30,
                                            v_offset: 0
                                        },
                                        right: {
                                            h_align: "right",
                                            v_align: "center",
                                            h_offset: 30,
                                            v_offset: 0
                                        }
                                    },
                                    bullets: {
                                        enable: true,
                                        hide_onmobile: true,
                                        hide_under: 600,
                                        style: "metis",
                                        hide_onleave: true,
                                        hide_delay: 200,
                                        hide_delay_mobile: 1200,
                                        direction: "horizontal",
                                        h_align: "center",
                                        v_align: "bottom",
                                        h_offset: 0,
                                        v_offset: 30,
                                        space: 5,
                                        tmp: '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>'
                                    }
                                },
                                viewPort: {
                                    enable: true,
                                    outof: "pause",
                                    visible_area: "80%"
                                },
                                responsiveLevels: [1240, 1024, 778, 480],
                                gridwidth: [1240, 1024, 778, 480],
                                gridheight: [600, 550, 500, 450],
                                lazyType: "none",
                                parallax: {
                                    type: "scroll",
                                    origo: "enterpoint",
                                    speed: 400,
                                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                                },
                                shadow: 0,
                                spinner: "off",
                                stopLoop: "off",
                                stopAfterLoops: -1,
                                stopAtSlide: -1,
                                shuffle: "off",
                                autoHeight: "off",
                                hideThumbsOnMobile: "off",
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                debugMode: false,
                                fallbacks: {
                                    simplifyAll: "off",
                                    nextSlideOnWindowFocus: "off",
                                    disableFocusListener: false,
                                }
                            });
                        }
                    }); /*ready*/

                </script>
                <!-- END REVOLUTION SLIDER -->
            </div>
        </section>

        <!-- Section: Service -->
        <section id="services" class="bg-lighter">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img style="display: inline-block;" alt="" width="400"
                                 src="https://res.cloudinary.com/hj51pum1g/image/upload/v1529182489/O-Gold-Partner-clr.png"/>
                            <h2 class="text-uppercase line-bottom-double-line-centered mt-0">Our <span
                                    class="text-theme-colored2">Services</span></h2>
                            <p><span style="color: #380A13;">As an Oracle Gold partner<br> let us lead your journey to the Cloud and Big Data!</span>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-box icon-box iconbox-theme-colored bg-white p-30 mb-30 border-1px">
                            <div class="icon icon-dark border-left-theme-colored2-3px pull-left flip mb-0 mr-0 mt-5">
                                <i class="fa fa-cloud"></i>
                            </div>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title m-0 mb-5">Cloud</h4>
                                <p class="text-gray mb-0">We can help with everything from the rapid adoption of public
                                    or private cloud solutions to enterprise transformation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-box icon-box iconbox-theme-colored bg-white p-30 mb-30 border-1px">
                            <div class="icon icon-dark border-left-theme-colored2-3px pull-left flip mb-0 mr-0 mt-5">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title m-0 mb-5">Application Services</h4>
                                <p class="text-gray mb-0">We provide strategy, implementation, upgrade, and application
                                    management services for your enterprise applications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-box icon-box iconbox-theme-colored bg-white p-30 mb-30 border-1px">
                            <div class="icon icon-dark border-left-theme-colored2-3px pull-left flip mb-0 mr-0 mt-5">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title m-0 mb-5">Analytics</h4>
                                <p class="text-gray mb-0">We help you use powerful technologies to develop data-based
                                    insights and predictive capabilities that drive bottom lime results.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#984C16">
        <div class="container pt-70 pb-40">
            <div class="row border-bottom">

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Connect With Us</h5>
                        <ul class="styled-icons icon-bordered icon-sm">
                            <li><a href="https://www.facebook.com/uequations"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/uequations"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/universal-equations-inc"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Useful Links</h5>
                        <ul class="list angle-double-right list-border">
                            <li><a href="/shop">{{shop}}</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Twitter Feed</h5>
                        <div class="list-border clearfix">
                            <a class="twitter-timeline" data-height="287" data-width="700" data-theme="dark"
                               data-link-color="#9EA4D3" href="https://twitter.com/uequations?ref_src=twsrc%5Etfw">Tweets
                                by
                                uequations</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div> <!-- row border-bottom-->

            <div class="row mt-30">

                <div class="col-md-5 col-md-offset-2">
                    <div id="mailing_form" class="widget dark">
                        <h5 class="widget-title mb-10">Subscribe to our Mailing List</h5>
                        <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
                              method="POST"
                              class="newsletter-form">
                            <div class="input-group">
                                <input type=hidden name='captcha_settings'
                                       value='{"keyname":"uequations_site","fallback":"true","orgId":"00D6A000001Wef6","ts":""}'>
                                <input type=hidden name="oid" value="00D6A000001Wef6">
                                <input type=hidden name="retURL" value="https://www.uequations.com">

                                <!--  ----------------------------------------------------------------------  -->
                                <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                                <!--  these lines if you wish to test in debug mode.                          -->
                                <!--  <input type="hidden" name="debug" value=1>                              -->
                                <!--  <input type="hidden" name="debugEmail"                                  -->
                                <!--  value="malkebu-lan@uequations.com">                                     -->
                                <!--  ----------------------------------------------------------------------  -->

                                <label for="first_name">First Name</label><input class="form-control input-lg font-16"
                                                                                 id="first_name" maxlength="40"
                                                                                 name="first_name" size="20"
                                                                                 type="text"/><br>

                                <label for="last_name">Last Name</label><input class="form-control input-lg font-16"
                                                                               id="last_name" maxlength="80"
                                                                               name="last_name" size="20"
                                                                               type="text"/><br>

                                <label for="email">Email</label><input class="form-control input-lg font-16" id="email"
                                                                       maxlength="80" name="email" size="20"
                                                                       type="text"/><br>

                                <input type="hidden" name="Campaign_ID" value="7016A000000T0qFQAS">

                                <input type="submit" name="submit"
                                       class="btn btn-flat btn-theme-colored text-uppercase mt-10 mr-10 mb-sm-30"
                                       data-loading-text="Please wait..."><br><br>

                                <div class="g-recaptcha" data-sitekey="6LcyqV4UAAAAAMnUAMutlAgh7V-Z4OZV9tgP0QA8"></div>
                                <br>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom bg-theme-colored-transparent-5">
            <div class="container pt-20 pb-20">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 m-0" style="color: #380A13">Copyright © 2016-2018 Universal Equations Inc. All
                            rights
                            reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script async src="/javascripts/custom.js"></script>
