<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<style>
h1, h2, h3, h4, h5 {
color: #380A13;
}

body {
color: #380A13;
}

    a:visited {
    color: #380A13;
    }

.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.line-bottom-double-line-centered::after,
.line-bottom-double-line-centered::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute,
.title-dots span {
    background: #9EA4D3;
}


</style>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));



</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=install_email
     page_id="230214214064781"
     theme_color="#9EA4D3"
     logged_in_greeting="Hi! Welcome to UEQ. How can we help you?"
     logged_out_greeting="Hi! Welcome to UEQ. How can we help you?">
</div>

<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <div class="preloader-dot-loading">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>

    <!-- Header -->
    <header id="header" class="header modern-header modern-header-theme-colored">
        <div class="header-top bg-theme-colored sm-text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="widget text-white">
                            <i class="fa fa-clock-o text-theme-colored2"></i> {{hours}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle p-0 bg-light xs-text-center">
            <div class="container pt-30 pb-30">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="widget sm-text-center">
                            <i class="fa fa-envelope text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">{{email_label}}</a>
                            <h5 class="font-13 text-black m-0"> {{email_address}}</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="widget text-center">
                            <img src="/images/logo-wide.png" alt="UEQ is modernizing the human experience">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="widget sm-text-center">
                            <i class="fa fa-building-o text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                            <a href="#" class="font-12 text-gray text-uppercase">{{location_label}}</a>
                            <h5 class="font-13 text-black m-0"> {{location_street}}</br>{{location_building}}</br>
                                {{location_address}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed">
                <div class="container">
                    <nav id="menuzord" class="menuzord blue">
                        <ul class="menuzord-menu">
                            <li class="home"><a href="#"><i class="fa fa-home font-28"></i></a></li>
                            <li class="active"><a href="/">{{home}}</a></li>

                            <li><a href="#">Inquiries</a>
                                <ul class="dropdown">
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="/office365Inquiry">{{office_365}}</a></li>
                                    <li><a href="/govtInquiry">Government</a></li>
                                    <li><a href="/capeStatement">Capability Statement</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Community</a>
                                <ul class="dropdown">
                                    <li><a href="/wiki">Wiki</a></li>
                                    <li><a href="/events">Events</a></li>
                                    <li><a href="#">UEQ Newsletter</a>
                                        <ul class="dropdown">
                                            <li><a href="/newsletter-jan">January 2019</a></li>
                                            <li><a href="/newsletter-dec">December 2018</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">The News</a>
                                        <ul class="dropdown">
                                            <li><a target="_blank" href="https://www.forbes.com">Forbes</a></li>
                                            <li><a target="_blank" href="https://www.gartner.com/en/newsroom">Gartner
                                                Newsroom</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Research</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a target="_blank"
                                                   href="https://www.journals.elsevier.com/future-generation-computer-systems">Future
                                                    Generation Computer Systems</a></li>
                                            <li>
                                                <a target="_blank"
                                                   href="http://www.buyya.com">Dr. Rajkumar Buyya</a>
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="https://www.forbes.com/sites/louiscolumbus/">
                                                    Louis Columbus
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank"
                                                   href="https://www.berkeley.edu/">
                                                    University of California Berkeley
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a tsrget="_blank" href="https://repo.uequations.com">Popular Github Repos</a>
                                    </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">Resources</a>
                                <ul class="dropdown">
                                    <li><a target="_blank" href="https://aws.amazon.com/">Amazon Web Services (AWS)</a>
                                        <ul class="dropdown">
                                            <li><a target="_blank" href="https://aws.amazon.com/s3/">Amazon S3</a></li>
                                            <li><a target="_blank" href="https://aws.amazon.com/ec2/">Amazon EC2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a target="_blank" href="https://www.openstack.org/">OpenStack</a></li>
                                    <li><a target="_blank" href="https://www.ibm.com/">IBM</a></li>
                                    <li><a target="_blank" href="https://cloud.google.com/">Google Cloud Platform</a>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="#">Company</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                </ul>
                            </li>

                            <li class=""><a href="/shop">{{shop}}</a></li>

                            <li class="active pull-right"><a href="{{phone_href}}" class="font-20 line-height-1"><i
                                    class="pe-7s-call mr-10 font-28"></i>{{phone_label}}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: home -->
        <section id="home" class="divider">
            <div class="container-fluid p-0">

                <!-- START REVOLUTION SLIDER 5.0.7 -->
                <div id="rev_slider_home_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                     data-alias="news-gallery34"
                     style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
                    <div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;"
                         data-version="5.0.7">
                        <ul>
                            <!-- SLIDE 1 -->
                            <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                                data-easein="default" data-easeout="default" data-masterspeed="default"
                                data-thumb="https://res.cloudinary.com/uequations/image/upload/v1534746530/AdobeStock_197332274.jpg"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Make an Impact">
                                <!-- MAIN IMAGE -->
                                <img src="https://res.cloudinary.com/uequations/image/upload/v1534746530/AdobeStock_197332274.jpg"
                                     alt="Slider Image 1" data-bgposition="center center" data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                     id="slide-1-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                     data-start="1000"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-1-layer-2"
                                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                     data-y="['top','top','top','top']" data-voffset="['120','100','70','90']"
                                     data-fontsize="['56','46','40','36']"
                                     data-lineheight="['70','60','50','45']"
                                     data-fontweight="['800','700','700','700']"
                                     data-width="['700','650','600','420']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal; "><span
                                        style="color: #984C16;">Modernizing the </span><span
                                        class="text-theme-colored2">human</span><span style="color: #984C16;"> experience.</span>
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-1-layer-3"
                                     data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                     data-y="['top','top','top','top']" data-voffset="['280','220','180','180']"
                                     data-fontsize="['18','18','16','13']"
                                     data-lineheight="['30','30','28','25']"
                                     data-fontweight="['600','600','600','600']"
                                     data-width="['800','650','600','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-0"
                                     id="slide-1-layer-4"
                                     data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                                     data-y="['top','top','top','top']" data-voffset="['360','290','260','260']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;"
                                     data-mask_out="x:0;y:0;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                </div>
                            </li>

                            <!-- SLIDE 2 -->
                            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                                data-easein="default" data-easeout="default" data-masterspeed="default"
                                data-thumb="https://res.cloudinary.com/uequations/image/upload/v1534746437/AdobeStock_136355076.jpg"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Make an Impact">
                                <!-- MAIN IMAGE -->
                                <img src="https://res.cloudinary.com/uequations/image/upload/v1534746437/AdobeStock_136355076.jpg"
                                     alt="Slider Image 2" data-bgposition="top 30%" data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                     id="slide-2-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                     data-start="1000"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-2-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['120','100','70','90']"
                                     data-fontsize="['28','24','24','24']"
                                     data-lineheight="['33','30','30','30']"
                                     data-fontweight="['600','600','600','600']"
                                     data-textalign="['center','center','center','center']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-2-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['165','135','105','130']"
                                     data-fontsize="['56','46','40','36']"
                                     data-lineheight="['70','60','50','45']"
                                     data-fontweight="['800','700','700','700']"
                                     data-textalign="['center','center','center','center']"
                                     data-width="['700','650','600','420']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;"><span
                                        style="color: #984C16;">Taking a </span><span class="text-theme-colored2">holistic view</span><span
                                        style="color: #984C16;"> of your business to accelerate performance.</span>
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-1-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['320','260','220','220']"
                                     data-fontsize="['18','18','16','13']"
                                     data-lineheight="['30','30','28','25']"
                                     data-fontweight="['600','600','600','600']"
                                     data-textalign="['center','center','center','center']"
                                     data-width="['800','650','600','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption rs-parallaxlevel-0"
                                     id="slide-2-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['400','340','300','300']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;"
                                     data-mask_out="x:0;y:0;"
                                     data-start="1000"

                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                </div>
                            </li>

                            <!-- SLIDE 3 -->
                            <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                                data-easein="default" data-easeout="default" data-masterspeed="default"
                                data-thumb="https://res.cloudinary.com/uequations/image/upload/v1534746471/AdobeStock_137086004.jpg"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                data-saveperformance="off" data-title="Make an Impact">
                                <!-- MAIN IMAGE -->
                                <img src="https://res.cloudinary.com/uequations/image/upload/v1534746471/AdobeStock_137086004.jpg"
                                     alt="Slider Image 3" data-bgposition="top 30%" data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                                     id="slide-3-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                     data-start="1000"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 1.00);">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-3-layer-2"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['310','200','100','0']"
                                     data-y="['top','top','top','top']" data-voffset="['120','100','70','90']"
                                     data-fontsize="['56','46','40','36']"
                                     data-lineheight="['70','60','50','45']"
                                     data-fontweight="['800','700','700','700']"
                                     data-width="['700','650','500','420']"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;"><span
                                        style="color: #984C16;">Accelerate the growth of your </span><span
                                        class="text-theme-colored2">digital business</span><span
                                        style="color: #984C16;">.</span>
                                </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-3-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['310','200','100','0']"
                                     data-y="['top','top','top','top']" data-voffset="['280','220','180','180']"
                                     data-fontsize="['18','18','16','13']"
                                     data-lineheight="['30','30','28','25']"
                                     data-fontweight="['600','600','600','600']"
                                     data-width="['700','650','500','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;"></div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                                     id="slide-3-layer-4"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['310','200','100','0']"
                                     data-y="['top','top','top','top']" data-voffset="['360','290','260','260']"
                                     data-fontsize="['18','18','16','16']"
                                     data-lineheight="['30','30','30','30']"
                                     data-fontweight="['600','600','600','600']"
                                     data-width="['700','650','500','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     style="z-index: 7; white-space: nowrap;">
                                </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption rs-parallaxlevel-0"
                                     id="slide-3-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['310','33','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['360','290','260','260']"
                                     data-width="['700','650','600','420']"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-transform_idle="o:1;"
                                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                                     data-mask_in="x:0px;y:0px;"
                                     data-mask_out="x:0;y:0;"
                                     data-start="1000"
                                     data-splitin="none"
                                     data-splitout="none"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
                <script type="text/javascript">
                    var tpj = jQuery;
                    var revapi34;
                    tpj(document).ready(function () {
                        if (tpj("#rev_slider_home").revolution == undefined) {
                            revslider_showDoubleJqueryError("#rev_slider_home");
                        } else {
                            revapi34 = tpj("#rev_slider_home").show().revolution({
                                sliderType: "standard",
                                jsFileLocation: "js/revolution-slider/js/",
                                sliderLayout: "fullscreen",
                                dottedOverlay: "none",
                                delay: 9000,
                                navigation: {
                                    keyboardNavigation: "on",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation: "off",
                                    onHoverStop: "on",
                                    touch: {
                                        touchenabled: "on",
                                        swipe_threshold: 75,
                                        swipe_min_touches: 1,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    }
                                    ,
                                    arrows: {
                                        style: "zeus",
                                        enable: true,
                                        hide_onmobile: true,
                                        hide_under: 600,
                                        hide_onleave: true,
                                        hide_delay: 200,
                                        hide_delay_mobile: 1200,
                                        tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                                        left: {
                                            h_align: "left",
                                            v_align: "center",
                                            h_offset: 30,
                                            v_offset: 0
                                        },
                                        right: {
                                            h_align: "right",
                                            v_align: "center",
                                            h_offset: 30,
                                            v_offset: 0
                                        }
                                    },
                                    bullets: {
                                        enable: true,
                                        hide_onmobile: true,
                                        hide_under: 600,
                                        style: "metis",
                                        hide_onleave: true,
                                        hide_delay: 200,
                                        hide_delay_mobile: 1200,
                                        direction: "horizontal",
                                        h_align: "center",
                                        v_align: "bottom",
                                        h_offset: 0,
                                        v_offset: 30,
                                        space: 5,
                                        tmp: '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>'
                                    }
                                },
                                viewPort: {
                                    enable: true,
                                    outof: "pause",
                                    visible_area: "80%"
                                },
                                responsiveLevels: [1240, 1024, 778, 480],
                                gridwidth: [1240, 1024, 778, 480],
                                gridheight: [600, 550, 500, 450],
                                lazyType: "none",
                                parallax: {
                                    type: "scroll",
                                    origo: "enterpoint",
                                    speed: 400,
                                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                                },
                                shadow: 0,
                                spinner: "off",
                                stopLoop: "off",
                                stopAfterLoops: -1,
                                stopAtSlide: -1,
                                shuffle: "off",
                                autoHeight: "off",
                                hideThumbsOnMobile: "off",
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                debugMode: false,
                                fallbacks: {
                                    simplifyAll: "off",
                                    nextSlideOnWindowFocus: "off",
                                    disableFocusListener: false,
                                }
                            });
                        }
                    }); /*ready*/

                </script>
                <!-- END REVOLUTION SLIDER -->
            </div>
        </section>

        <section id="weather" class="bg-lighter">
            <div class="container" style="padding-top: 30px; padding-bottom: 15px;">
                <div class="row">
                    <div class="section-title text-center">
                        <!-- your weather -->
                        <div class="col-sm-8 col-md-6 maxwidth500 mb-sm-40">
                            <a href="https://www.accuweather.com/en/us/philadelphia-pa/19102/weather-forecast/350540"
                               class="aw-widget-legal">
                                <!--
                                By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
                                -->
                            </a>
                            <div id="awcc1534379252588" class="aw-widget-current" data-locationkey="" data-unit="f"
                                 data-language="en-us" data-useip="true" data-uid="awcc1534379252588"></div>
                            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                        </div>

                        <!-- Philadelphia -->
                        <div class="col-sm-8 col-md-6 maxwidth500 mb-sm-40">
                            <a href="https://www.accuweather.com/en/us/philadelphia-pa/19102/weather-forecast/350540"
                               class="aw-widget-legal">
                                <!--
                                By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
                                -->
                            </a>
                            <div id="awcc1534379357348" class="aw-widget-current" data-locationkey="350540"
                                 data-unit="f"
                                 data-language="en-us" data-useip="false" data-uid="awcc1534379357348"></div>
                            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Partners -->
        <section id="partners" class="bg-lighter">
            <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="text-center">
                    <img style="display: inline-block; border: solid red 10px; border-radius: 5px;"
                         alt="Oracle Gold Partner" width="400"
                         src="https://res.cloudinary.com/hj51pum1g/image/upload/v1529182489/O-Gold-Partner-clr.png"/>
                </div>
            </div>
        </section>

        <!-- Section: Service -->
        <section id="services" class="bg-lighter">
            <div class="container" style="padding-top: 30px;">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h2 class="text-uppercase line-bottom-double-line-centered mt-0">Our <span
                                    class="text-theme-colored2">Services</span></h2>
                            <p>
                            <h2 style="color: #380A13;">Select from a broad selection of enterprise-grade Cloud
                                Computing solutions.</h2>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-box icon-box iconbox-theme-colored bg-white p-30 mb-30 border-1px">
                            <div class="icon icon-dark border-left-theme-colored2-3px pull-left flip mb-0 mr-0 mt-5">
                                <i class="fa fa-cloud"></i>
                            </div>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title m-0 mb-5">Cloud Computing & Cloud Services</h4>
                                <p class="text-gray mb-0">We can help with everything from the rapid adoption of public
                                    or private cloud solutions to enterprise transformation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-box icon-box iconbox-theme-colored bg-white p-30 mb-30 border-1px">
                            <div class="icon icon-dark border-left-theme-colored2-3px pull-left flip mb-0 mr-0 mt-5">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title m-0 mb-5">Microservices Architecture</h4>
                                <p class="text-gray mb-0">We provide strategy, implementation, and application
                                    management services to enable more modular applications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service-box icon-box iconbox-theme-colored bg-white p-30 mb-30 border-1px">
                            <div class="icon icon-dark border-left-theme-colored2-3px pull-left flip mb-0 mr-0 mt-5">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="icon-box-details">
                                <h4 class="icon-box-title m-0 mb-5">Data Analytics</h4>
                                <p class="text-gray mb-0">{{analytics_description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="schedule-consultation" class="bg-theme-colored">
            <div class="container" style="padding-top: 30px;">
                <div class="call-to-action pt-40 pb-40 mb-20 border-1px">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <div class="icon-box icon-rounded-bordered left media mb-0 ml-60 ml-sm-0"><a
                                    class="media-left pull-left flip" href="/contact"> <i
                                    class="icon_question_alt text-theme-colored p-20"></i></a>
                                <div class="media-body">
                                    <h2 class="media-heading heading">Get free expert guidance</h2>
                                    <p>We're here to assist you on your journey to Cloud Computing.</p>
                                    <p>Schedule a short consultation to get the answers you need.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 text-center">
                            <a href="/contact" class="btn btn-dark btn-theme-colored btn-flat btn-xl mt-20">Schedule a
                                consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="cc_definition" class="bg-lighter">
            <div class="container">

                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="text-uppercase line-bottom-double-line-centered mt-0"><span
                                    class="text-theme-colored2">Definition of Cloud Computing:</span></h1>
                        </div>
                    </div>
                </div>

                <blockquote>
                    <p>Cloud computing is a model for enabling ubiquitous, convenient, on-demand network access to a
                        shared pool of configurable computing resources (e.g., networks, servers, storage, applications,
                        and services) that can be rapidly provisioned and released with minimal management effort or
                        service provider interaction. This cloud model is composed of five essential characteristics,
                        three service models, and four deployment models.</p>
                    <footer>Mell, P., & Grance, T. (2011). The NIST definition of cloud computing.</footer>
                </blockquote>
            </div>
        </section>

        <hr>

        <!-- Section: oas news -->
        <section id="aws-news" class="bg-lighter">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="widget-title title-dots mt-30"><span style="color: #380A13;">Some Cloud Computing News from Amazon Web Services (AWS)</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div id="aws-article-1" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a class="post-thumb"
                               target="_blank"
                               href="https://aws.amazon.com/blogs/aws/amazon-s3-block-public-access-another-layer-of-protection-for-your-accounts-and-buckets/"><img
                                    width="185" height="145"
                                    src="https://res.cloudinary.com/uequations/image/upload/v1548612784/s3e_access_sort_1.png"
                                    alt="AWS Article 1"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank"
                                       href="https://aws.amazon.com/blogs/aws/amazon-s3-block-public-access-another-layer-of-protection-for-your-accounts-and-buckets/">
                                        Amazon S3 Block Public Access – Another Layer of Protection for Your Accounts
                                        and Buckets</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Jeff Barr -- Nov 15, 2018</p>
                                <p class="font-13">Newly created Amazon S3 buckets and objects are (and always have
                                    been) private and protected by d...</p>
                            </div>
                        </article>
                    </div>
                    <div id="aws-article-2" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a target="_blank" class="post-thumb"
                               href="https://aws.amazon.com/deepracer/"><img
                                    width="185" height="145"
                                    src="https://res.cloudinary.com/uequations/image/upload/c_scale,h_145,w_185/v1548613286/ImgHead_Silverstone_TEST_Car_3.204d9c00ff64cbeae8a5956e75e183c798dcfa81.png"
                                    alt="Article 2"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank" href="https://aws.amazon.com/deepracer/">
                                        AWS DeepRacer - the fastest way to get rolling with machine learning</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Amazon Web Services -- Nov 28, 2018</p>
                                <p class="font-13">AWS DeepRacer is the fastest way to get rolling with machine
                                    learning, literally. Get hands-on wi...</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div id="aws-article-3" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a target="_blank" class="post-thumb"
                               href="https://aws.amazon.com/blogs/opensource/rust-runtime-for-aws-lambda/"><img
                                    width="185" height="145"
                                    src="https://res.cloudinary.com/uequations/image/upload/v1548612593/rust_lambda_logo.png"
                                    alt="Article 3"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank"
                                       href="https://aws.amazon.com/blogs/opensource/rust-runtime-for-aws-lambda/">
                                        Rust Runtime for AWS Lambda</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Stefano Buliani -- Nov 29, 2018</p>
                                <p class="font-13">AWS Lambda, which makes it easy for developers to run code for
                                    virtually any type of application ...</p>
                            </div>
                        </article>
                    </div>
                    <div id="aws-article-4" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a class="post-thumb"
                               href="https://aws.amazon.com/blogs/aws/new-amazon-cloudwatch-logs-insights-fast-interactive-log-analytics/">
                                <img width="185" height="145"
                                     src="https://res.cloudinary.com/uequations/image/upload/v1548614486/ci_menu_nav_5.png"
                                     alt="Article 4"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a href="https://aws.amazon.com/blogs/aws/new-amazon-cloudwatch-logs-insights-fast-interactive-log-analytics/">
                                        New – Amazon CloudWatch Logs Insights – Fast, Interactive Log Analytics</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Jeff Barr -- Nov 27, 2018</p>
                                <p class="font-13">Many AWS services create logs. Off the top of my head there are VPC
                                    Flow Logs, Route 53 Logs, Lam...</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

        </section>

        <hr>

        <!-- Section: business news -->
        <section id="business-news" class="bg-lighter">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="widget-title title-dots mt-30"><span style="color: #380A13;">Some Business News from Forbes</span>
                        </h3>
                    </div>
                    <div id="forbes-article-1" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a target="_blank" class="post-thumb"
                               href="https://www.forbes.com/sites/billeehoward/2018/11/04/marketing-trends-2019/#2f47f7e25641"><img
                                    width="185" height="145"
                                    src="https://gallery.mailchimp.com/2ee7a6cb1c2e468a5231d9db9/images/4e3568f0-a898-4a56-a7c5-1dba4d99b955.jpg"
                                    alt="Article 1"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank"
                                       href="https://www.forbes.com/sites/billeehoward/2018/11/04/marketing-trends-2019/#2f47f7e25641">
                                        Top 5 Marketing Trends For CMOs And Entrepreneurs In 2019</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Billee Howard -- Nov 4, 2018</p>
                                <p class="font-13">For successful brands, it’s no longer just about understanding what
                                    customers will do, but rather how they feel.</p>
                            </div>
                        </article>
                    </div>
                    <div id="forbes-article-2" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a target="_blank" class="post-thumb"
                               href="https://www.forbes.com/sites/deborahsweeney/2018/11/08/5-female-entrepreneurs-reveal-how-they-triumphed-over-2018s-business-challenges/#1eff94c725a2"><img
                                    width="185" height="145"
                                    src="https://gallery.mailchimp.com/2ee7a6cb1c2e468a5231d9db9/images/94a0a096-8763-403a-8d39-05c890fa681e.jpg"
                                    alt="Article 2"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank"
                                       href="https://www.forbes.com/sites/deborahsweeney/2018/11/08/5-female-entrepreneurs-reveal-how-they-triumphed-over-2018s-business-challenges/#1eff94c725a2">
                                        5 Female Entrepreneurs Reveal How They Triumphed Over 2018's Business
                                        Challenges</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Deboah Sweeney -- Nov 08, 2018</p>
                                <p class="font-13">I wanted to know firsthand the biggest challenges women business
                                    owners faced in 2018.</p>
                            </div>
                        </article>
                    </div>
                    <div id="forbes-article-3" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a target="_blank" class="post-thumb"
                               href="http://www.forbes.com/sites/devinthorpe/2018/12/22/if-billionaires-are-a-cause-of-climate-change-social-entrepreneurs-are-a-solution/"><img
                                    width="185" height="145"
                                    src="https://gallery.mailchimp.com/2ee7a6cb1c2e468a5231d9db9/images/ab23a78d-cf7e-4d8a-88ef-2df9c12e928b.jpg"
                                    alt="Article 3"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank"
                                       href="http://www.forbes.com/sites/devinthorpe/2018/12/22/if-billionaires-are-a-cause-of-climate-change-social-entrepreneurs-are-a-solution/">
                                        If Billionaires Are A Cause Of Climate Change, Social Entrepreneurs Are A
                                        Solution</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Devin Thorpe -- Dec 28, 2018</p>
                                <p class="font-13">Remember, we don’t have to solve climate change with yesterday’s
                                    technology or even today’s.</p>
                            </div>
                        </article>
                    </div>
                    <div id="forbes-article-4" class="col-xs-12 col-sm-6 col-md-6">
                        <article class="post media-post clearfix pb-0 mb-10">
                            <a target="_blank" class="post-thumb"
                               href="http://www.forbes.com/sites/robynshulman/2018/12/23/5-things-young-entrepreneurs-should-know-before-starting-a-business/">
                                <img width="185" height="145"
                                     src="https://gallery.mailchimp.com/2ee7a6cb1c2e468a5231d9db9/images/df82c4ff-4545-42b9-b645-45e1ab7e6b3c.jpg"
                                     alt="Article 4"></a>
                            <div class="post-right">
                                <h5 class="entry-title text-uppercase mt-0 mb-5">
                                    <a target="_blank"
                                       href="http://www.forbes.com/sites/robynshulman/2018/12/23/5-things-young-entrepreneurs-should-know-before-starting-a-business/">
                                        5 Things Young Entrepreneurs Should Know Before Starting A Business</a>
                                </h5>
                                <p class="post-date mb-10 font-12">By Robyn Shulman -- Dec 23, 2018</p>
                                <p class="font-13">Education is a lifelong process, and you should make time to learn
                                    something new every week.</p>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <hr>

        <!-- Section: past clients -->
        <section>
            <div class="container pb-0">
                <div class="section-title text-center mb-30">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 mb-5">Past Clients</h2>
                            <p class="font-16 mt-0">A few of the clients we graciously thank for their business</p>
                        </div>
                    </div>
                </div>
                <div class="row multi-row-clearfix">
                    <div class="col-md-12">
                        <div class="products">
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                                <div class="product">
                                    <div class="product-thumb">
                                        <img width="200" height="120" alt="Comcast"
                                             src="https://res.cloudinary.com/uequations/image/upload/v1533777536/comcast.jpg"
                                             class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                                <div class="product">
                                    <div class="product-thumb">
                                        <img alt="McKesson" width="200" height="120"
                                             src="https://res.cloudinary.com/uequations/image/upload/v1533778515/mckesson.jpg"
                                             class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                                <div class="product">
                                    <div class="product-thumb">
                                        <img alt="RELX Group" width="200" height="120"
                                             src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/fwdiytru5tdrh2blacyg"
                                             class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                                <div class="product">
                                    <div class="product-thumb">
                                        <img alt="MACQUARIE" width="200" height="120"
                                             src="https://res.cloudinary.com/uequations/image/upload/v1548616779/ilknrjrbceylgnxcun6m.jpg"
                                             class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- data-bg-img="images/footer-bg.png" -->
    <!-- Footer -->
    <footer id="footer" class="footer" data-bg-color="#984C16">
        <div class="container pt-70 pb-40">
            <div class="row border-bottom">

                <div class="col-sm-8 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Connect With Us</h5>
                        <ul class="styled-icons icon-bordered icon-sm" style="padding-left: 0px;">
                            <li><a href="https://www.facebook.com/uequations"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/uequations"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/universal-equations-inc"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-8 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Useful Links</h5>
                        <ul class="list angle-double-right list-border">
                            <li><a href="/shop">{{shop}}</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-8 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Twitter Feed</h5>
                        <div class="list-border clearfix">
                            <a class="twitter-timeline" data-height="287" data-width="700" data-theme="dark"
                               data-link-color="#9EA4D3" href="https://twitter.com/uequations?ref_src=twsrc%5Etfw">Tweets
                                by
                                uequations</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>

            </div> <!-- row border-bottom-->

        </div>
        <div class="footer-bottom bg-theme-colored-transparent-5">
            <div class="container pt-20 pb-20">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 m-0" style="color: #380A13">Copyright © 2016-2018 Universal Equations Inc. All
                            rights
                            reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script async src="/js/custom.js"></script>
<!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
<!--<script type="text/javascript" src="https://a.optmnstr.com/app/js/api.min.js" data-account="56175" data-user="49900"-->
<!--async></script>-->
<!-- / https://optinmonster.com -->
